<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <activity android:name="com.hermes.promptpad.NotificationTarget" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.hermes.promptpad.ReplyReceiver" android:exported="false" />
    </application>
</manifest>
